#hero {
    height: 100vh;
    background-color: #3498db; /* Blue background */
    background-image: linear-gradient(to right, #3498db, #8e44ad); /* Gradient overlay */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  #hero h1 {
    font-size: 3.5rem;
  }
  
  #hero p {
    font-size: 1.5rem;
  }
  
  .card {
    background-color: #b8dc17;
    border: none;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }